[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
waitress = "*"
gunicorn = "*"
gevent = "*"
flask = "*"
flask-cors = "*"
Werkzeug = "*"
psycopg2 = "*"
SQLAlchemy = "*"
alembic = "*"
marshmallow = "*"
marshmallow_dataclass = "*"
marshmallow_enum = "*"
requests = "*"
celery = "*"
redis = "*"
python-dateutil = "*"
authlib = "*"
bip32utils = "*"
Origin-Ledger-SDK = "*"

[requires]
python_version = "3.7"

[scripts]
migrate = "cd migrations && alembic upgrade head && cd .."
revision = "cd migrations && alembic revision --autogenerate && cd .."
develop = "python serve.py --port 8085"
production = "gunicorn -b 0.0.0.0:8085 origin:app --workers 1 --worker-class gevent --worker-connections 10"
worker = "celery worker -A origin.pipelines -B -l info --concurrency=10"
beat = "celery beat -A origin.pipelines -l info"
