[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
waitress = "*"

[packages]
gunicorn = "*"
gevent = "*"
flask = "*"
flask-cors = "*"
Werkzeug = "*"
psycopg2 = "*"
SQLAlchemy = "*"
alembic = "*"
marshmallow = "*"
marshmallow_dataclass = "*"
marshmallow_enum = "*"
requests = "*"
celery = "*"
redis = "*"
python-dateutil = "*"
authlib = "*"
bip32utils = "*"
Origin-Ledger-SDK = "*"
opencensus-ext-azure = "*"

[requires]
python_version = "3.7"

[scripts]
migrate = "alembic upgrade head"
revision = "alembic revision --autogenerate"
develop = "python -m waitress --port=8085 origin:app"
production = "gunicorn -b 0.0.0.0:8085 origin:app --workers 3 --worker-class gevent --worker-connections 10"
worker = "celery worker -A origin.pipelines -B -l info --concurrency=10"
beat = "celery beat -A origin.pipelines -l info"
